<div class="custom-tooltip" [style.background-color]="color">
    <p><span>{{ order.name }}</span></p>
    <p><span>State: </span>{{ order.state }}</p>
    <p><span>Amount: </span>{{ order.amount }}</p>
</div>