<!-- Container Start-->
<div class="parent-container">
	<!-- Grid Table Start -->
	<app-table [title]="title" (toggleSuccess)="toggleSuccessMessage($event)"
	(toggleError)="toggleErrorMessage($event)" (cantSaveError)="ErrorMessageWhenSave($event)"
	(errorMessage)="ErrorMessage($event)" (validationMessage)="ValidationMessage($event)"></app-table>
	<!-- Grid Table End-->
	<!-- Error Mesages Start -->
	<div *ngIf="showSaved" class="row alert alert-success">
		<strong>Orders Saved Successfully!</strong>
	</div>
	<div *ngIf="notSaved" class="row alert alert-danger">
		<strong>{{ cantSaveError }}</strong>
	</div>
	<div class="row alert alert-danger" *ngIf="errorMessage">
		<strong>{{ errorMessage }}</strong>
	</div>
	<div class="row alert alert-danger" *ngIf="validationMessage">
		<strong [innerHTML]="validationMessage"></strong>
	</div>
	<!-- Error Mesages End -->
</div>
<!-- Container End-->
