<!-- row  for Title Start-->
<div class="row">
	<div class="col-12 text-center">
		<h2>{{ title }}</h2>
	</div>
</div>
<!-- row  for Title End-->
<!-- CTA Start -->
<div class="row">
	<div class="col-12 text-right d-flex justify-content-end">
		<button *ngIf="!cellValueChanged && toggleAddSave" type="button" (click)="onCancel()" class="btn btn-info" title="Cancel"><i class="fa fa-times" aria-hidden="true"></i></button>&nbsp;
		<button *ngIf="selectedCount > 0" [disabled]="!cellEditStopped" type="button" (click)="onDeleteRow()" class="btn btn-danger" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></button>&nbsp;
		<button *ngIf="!toggleAddSave" type="button" (click)="onAddRow()" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true" title="Add"></i></button>&nbsp;
		<button *ngIf="toggleAddSave" [disabled]="!(cellEditStopped && cellValueChanged)" type="button" (click)="updateOrders()" class="btn btn-primary" title="Update"><i class="fa fa-save" aria-hidden="true"></i></button>
	</div>
</div>
<!-- CTA End -->
<!-- ag-grid Table Start -->
<div class="row">
	<div class="col-12">
		<ag-grid-angular
		style="width: 100vw;height: 50vh;"
		class="ag-theme-balham"
		[rowData]="rowOrders"
		[columnDefs]="columnDefs"
		[defaultColDef]="defaultColDef"
		[rowSelection]="'multiple'"
		[animateRows]="true"
		[rowHeight]="40"
		[tooltipMouseTrack]="true"
		(rowSelected)="onRowSelected($event)"
		(cellValueChanged)="onCellValueChanged($event)"
		(cellEditingStarted)="onCellEditingStarted($event)"
		(cellEditingStopped)="onCellEditingStopped($event)"
		(gridReady)="onGridReady($event)"
		[pagination]="true"
		[paginationPageSize]="10"
		>
		</ag-grid-angular>
	</div>
</div>
<!-- ag-grid Table End -->


