h2 {
    margin: 40px;
}
.btn {
    margin: 30px 10px;
}
.text-right{
    padding-right: 22px;
}
:host::ng-deep .rag-red {
    border: 3px solid red !important;
}

:host::ng-deep .ag-header-cell-text{
    font-size: 16px !important;
}